@import "./../../styles/vars";

.filters {
    &__box {
        position: absolute;
        top: 70px;
        left: 0;
        display: flex;
        max-width: 200px;
        width: 100%;
        height: fit-content;
        justify-content: center;
        border-right: 1px dotted rgba(#444, 0.5);
        transition: all 0.5s;
    }
    &__content {
        width: 100%;
        padding: 0 15px 15px;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__price-value {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__open-btn {
        visibility: hidden;
        opacity: 0;
        background: $bg-color;
        position: fixed;
        border: 1px solid #444;
        border-left: none;
        border-radius: 0 24px 24px 0;
        width: 48px;
        height: 96px;
        top: 50%;
        transform: translateY(-50%);
        left: -1px;
        transition: all .5s;
        z-index: 100;
        cursor: pointer;
        &::before {
            content: "\2726";
            position: absolute;
            font-size: 48px;
            color: $bg-color;
            top: -36%;
            left: -53%;
        }
        &::after {
            content: "\2726";
            position: absolute;
            font-size: 48px;
            color: $bg-color;
            bottom: -30%;
            left: -53%;
        }
    }
    &__open-img {
        transition: all .5s;
        &--open {
            transform: scale(-1);
        }
    }
}

@media (max-width: 1520px) {
    .filters {
        &__box {
            top: 137px;
            left: -1px;
            padding: 70px 0 0;
            position: fixed;
            background: $bg-color;
            border: 1px solid #444;
            border-radius: 0 24px 24px 0;
            height: 80%;
            z-index: 100;
            &::before {
                content: "\2726";
                position: absolute;
                font-size: 48px;
                color: $bg-color;
                top: -4.4%;
                left: -11%;
            }
            &::after {
                content: "\2726";
                position: absolute;
                font-size: 48px;
                color: $bg-color;
                bottom: -3.4%;
                left: -11%;
            }
        }
        &__open-btn {
            visibility: visible;
            opacity: 1;
        }
    }
}
