html,
body {
    height: 100%;
}

body {
    font-family: 'Verdana', sans-serif;
    min-width: 320px;
    background: $bg-body;
    margin: 0 10px;
}

#root {
    min-height: 100%;
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    background: $bg-color;
    flex: 1 0 auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 10px 4px -4px rgba(#000300, .2);
    height: 100dvh;
}
.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo {
    width: 100px;
    margin-top: -30px;
}
.title {
    font-family: "Lobster Two", cursive;
    font-weight: 700;
    line-height: 1.3;
}
.button {
    background: $accent-color;
    color: #fff;
    border-radius: 24px;
    text-align: center;
    font-family: "Lobster Two", cursive;
    font-weight: 700;
    font-size: 24px;
    transition: all .5s;
    border: 2px solid transparent;
    &:hover {
        box-shadow: inset 0 0 45px 0 #225f26;
        color: #d4d4d4;
        border: unset 2px solid #225f26;
    }
}
.shadow {
    box-shadow: 0 10px 50px 0 #063a26;
    transition: all .5s;
}