@media (max-width: 660px) {
    .nav .container {
        padding: 0 5px;
    }
    .nav__inner {
        flex-direction: column;
        gap: 20px;
    }
    .nav__list {
        padding: 16px 20px 0;
    }
}
@media (max-width: 550px) {
    body {
        margin: 0;
    }
    .header {
        border-radius: 8px 8px 0 0;
    }
    .market {
        border-radius: 8px 8px 24px 24px;
    }
}
@media (max-width: 400px) {
    .nav__link p{
        font-size: 80%;
    }
}
