@import "./../../styles/vars";

//------------------------MARKET------------------------------------
//------------------------MARKET------------------------------------

.market {
    position: relative;
    z-index: 1;
    margin-top: 7px;
    background: $bg-color;
    padding: 70px 0 70px 150px;
    border-radius: 24px;
    min-height: 100dvh;
    box-shadow: 0 10px 4px -4px rgba(#000300, 0.2);
    &__title {
        margin-bottom: 30px;
    }
    &__sliders-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px 30px;
        flex-wrap: wrap;
        padding: 0 0 100px;
    }
    &__games-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-template-rows: auto;
        gap: 20px;
    }
    &__games-item {
        .games__text-box {
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
        .games__game-title {
            width: fit-content;
            align-self: flex-start;
        }
        .games__price {
            align-items: center;
            justify-content: end;
            width: 115%;
            margin-bottom: -15px;
            padding: 15px;
            background: rgba(#999, 0.1);
            font-weight: 700;
        }
        .games__popup {
            left: -60%;
            &::after {
                right: 30%;
            }
        }
        &:hover {
            .games__pay-btn {
                background: #52be59;
                color: #fff;
            }
        }
    }
}

//---------------------featuredSlider------------------------
.market {
    &__featured-slider {
        display: inline-block;
        position: relative;
        max-width: 770px;
        width: 100%;
        & .slider {
            max-width: 775px;
            width: 100%;
            min-width: auto;
        }
        & .slider__slide-wrapper {
            max-width: 775px;
            width: 100%;
        }
        & .slider__arrow {
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            background: rgba($bg-color, 0.6);
            bottom: 50%;
        }
        & .slider__right {
            border-radius: 10px 0 0 10px;
            right: 0;
        }
        & .slider__left {
            border-radius: 0 10px 10px 0;
            left: 0;
        }
    }
    &__featured-slider:hover {
        .slider__arrow {
            opacity: 1;
            visibility: visible;
        }
    }
    &__featured-slide {
        min-width: 100%;
    }
    &__featured-link {
        display: block;
        position: relative;
        width: 100%;
    }
    & .games__item {
        list-style-type: none;
    }
    & .games__item.shadow {
        box-shadow: none;
    }
    & .games__item:hover.shadow {
        box-shadow: none;
    }
    & .games__item img {
        width: 100%;
        max-height: 350px;
    }
}

//--------------------------------------------------------saleSlider------------------------------

.market {
    &__sale-slider {
        display: inline-block;
        position: relative;
        max-width: 400px;
        width: 100%;
        & .slider {
            max-width: 400px;
            width: 100%;
            min-width: auto;
        }
        & .slider__slide-wrapper {
            max-width: 400px;
            width: 100%;
        }
        & .slider__arrow {
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            background: rgba($bg-color, 0.6);

            bottom: 50%;
        }
        & .slider__right {
            border-radius: 10px 0 0 10px;
            right: 0;
        }
        & .slider__left {
            border-radius: 0 10px 10px 0;
            left: 0;
        }
    }
    &__sale-slider:hover {
        .slider__arrow {
            opacity: 1;
            visibility: visible;
        }
    }
    &__sale-slide {
        min-width: 100%;
    }
    &__sale-link {
        display: block;
        position: relative;
        width: 100%;
    }
}

@media (max-width: 1520px) {
    .market {
        padding-left: 0;
    }    
}